.question-button {
	padding: 20px 50px 20px 50px;
	border-radius: 12%;
	border: none;
	background-color: gray;
}

.question-button-active {
	padding: 20px 50px 20px 50px;
	border-radius: 12px;
	border: none;
	background-color: green;
	color: white;
}