.app {
  text-align: center;
}

/*Navigation Bar*/
.app-navigation-bar {
  display: inline;
}

/*Navigation Bar List Component*/
.app-navigation-bar-ul {
  display: inline-block;
  text-align: center;
  padding: 0;
}

/*Navigation Bar List Item*/
.app-navigation-bar-li {
  display: inline-block;
  margin: 1em;
  list-style-type: none;
}

/*Links in Navigation Bar*/
.app-navigation-bar-li a {
  list-style-type: none;
  text-decoration: none; 
}

